input { 
	tcp {
		host => "<%= logstash["Host"] %>"
		port => "<%= logstash["Port"]  %>"
	}
	udp {
		host => "<%= logstash["Host"] %>"
		port => "<%= logstash["Port"]  %>"
	}
} 

output { 
    stdout {
        codec => "json"
    }
}
